Repository seongmin1117/stock-quest: changes, and which pre-commit hooks are due for each by the changed paths.
All: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

Path conditions:
  stockquest-architecture-check: any of: \.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-test-coverage: any of: \.(java|ts|tsx)$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-dependency-check: any of: backend/src/main/java/com/stockquest/domain/.*\.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$


✨ Feature: Complete Blog Content Management System & Admin Navigation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/blog/articles/[id]/edit/page.tsx
  frontend/src/app/admin/blog/articles/new/page.tsx
  frontend/src/app/admin/blog/categories/new/page.tsx
  frontend/src/app/admin/blog/page.tsx
  frontend/src/app/admin/blog/tags/new/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/blog/articles/[slug]/page.tsx
  frontend/src/app/blog/articles/page.tsx
  frontend/src/shared/api/blog-admin-client.ts
  frontend/src/shared/api/blog-client.ts
  frontend/src/shared/components/Navigation/Navbar.tsx
  frontend/tests/e2e/blog-admin-dashboard.spec.ts
  frontend/tests/e2e/blog-article-creation.spec.ts
  frontend/tests/e2e/blog-article-editing.spec.ts
  frontend/tests/e2e/blog-category-workflow.spec.ts
  frontend/tests/e2e/blog-public-article-display.spec.ts
  frontend/tests/e2e/blog-tag-workflow.spec.ts
Due: stockquest-test-coverage

✨ 대시보드 API 통합 & 챌린지 시작 로직 개선 & 코드 품질 향상
  CLAUDE.md
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/ChallengeController.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/CompanyWebAdapter.java
  backend/src/main/java/com/stockquest/adapter/in/web/dashboard/DashboardWebAdapter.java
  backend/src/main/java/com/stockquest/application/challenge/StartChallengeService.java
  backend/src/main/java/com/stockquest/application/challenge/port/in/StartChallengeUseCase.java
  backend/src/main/java/com/stockquest/application/dashboard/DashboardService.java
  backend/src/main/java/com/stockquest/application/dashboard/dto/DashboardData.java
  backend/src/main/java/com/stockquest/application/dashboard/dto/DashboardResponse.java
  backend/src/main/java/com/stockquest/application/dashboard/dto/RecentSession.java
  backend/src/main/java/com/stockquest/application/dashboard/dto/UserStats.java
  backend/src/main/java/com/stockquest/domain/company/Company.java
  backend/src/main/resources/application-dev.yml
  frontend/src/shared/api/admin-challenge-client.ts
  frontend/src/shared/api/challenge-client.ts
  frontend/src/shared/api/dashboard-client.ts
  frontend/src/widgets/dashboard/UserStatsCard.tsx
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

✨ 수정: 프론트엔드-백엔드 API 호환성 완전 개선
  frontend/src/app/admin/challenges/[id]/edit/page.tsx
  frontend/src/app/admin/challenges/[id]/page.tsx
  frontend/src/app/admin/challenges/new/page.tsx
  frontend/src/app/admin/challenges/page.tsx
  frontend/src/app/challenges/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/shared/api/admin-challenge-client.ts
  frontend/src/shared/api/challenge-client.ts
  frontend/src/shared/api/dca-client.ts
  frontend/src/shared/api/types/dca-types.ts
  frontend/src/shared/lib/auth/AuthGuard.tsx
  frontend/tests/e2e/dca-simulation-advanced-scenarios.spec.ts
  frontend/tests/e2e/dca-simulation-comprehensive.spec.ts
  frontend/tests/e2e/dca-simulation-edge-cases.spec.ts
  frontend/tests/e2e/dca-simulation-integration.spec.ts
  frontend/tests/e2e/dca-simulation-performance.spec.ts
Due: stockquest-test-coverage

✨ 수정: DCA 시뮬레이션 백엔드 고급 기능 완성
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCASimulationErrorResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAWebAdapterValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationParameters.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationService.java
  backend/src/test/java/com/stockquest/adapter/in/web/dca/DCAApiIntegrationTestEnhanced.java
  backend/src/test/java/com/stockquest/adapter/in/web/dca/DCAControllerAdvancedTest.java
  backend/src/test/java/com/stockquest/domain/simulation/DCAAdvancedScenariosTest.java
  scripts/enhance-price-data.py
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

Fix zustand v5 breaking changes
  frontend/src/app/debug-company/page.tsx
  frontend/src/features/admin-panel/components/AdminAuthGuard.tsx
  frontend/src/shared/lib/auth/auth-store.ts
Due: stockquest-test-coverage

fix: Update bucket4j dependencies to use correct groupId for v8.0.1
  backend/build.gradle
Due: none

Fix typescript-eslint v8 compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

✨ 수정: Phase 1 크리티컬 시스템 안정화 완성
  frontend/public/mockServiceWorker.js
  frontend/src/app/admin/analytics/challenge-performance/page.tsx
  frontend/src/app/admin/analytics/returns/page.tsx
  frontend/src/app/admin/analytics/user-behavior/page.tsx
  frontend/src/app/admin/challenges/[id]/edit/page.tsx
  frontend/src/app/admin/challenges/[id]/page.tsx
  frontend/src/app/admin/challenges/page.tsx
  frontend/src/app/admin/portfolio-optimization/page.tsx
  frontend/src/app/admin/recommendations/page.tsx
  frontend/src/app/admin/users/[id]/page.tsx
  frontend/src/app/debug-company/page.tsx
  frontend/src/lib/exportUtils.ts
  frontend/src/shared/api/admin-challenge-client.ts
  frontend/src/shared/api/challenge-client.ts
  frontend/src/shared/api/dashboard-client.ts
  frontend/src/shared/lib/auth/auth-store.ts
  frontend/src/shared/validation/order-schemas.ts
  frontend/src/widgets/content-showcase/FeaturedArticles.tsx
  frontend/src/widgets/content-showcase/RecentArticles.tsx
  frontend/src/widgets/navigation/CategoryNavigation.tsx
Due: stockquest-test-coverage

🔧 수정: ChallengeSessionRepository 빈 의존성 문제 해결
  frontend/package-lock.json
Due: none

🔧 수정: CommunityCommentRepository 의존성 주입 문제 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/CommunityCommentRepositoryAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 수정: CompanyCategoryRepositoryPort 의존성 주입 문제 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/CompanyCategoryRepositoryAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 수정: PriceDataRepository 의존성 주입 문제 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/PriceDataRepositoryAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 수정: BenchmarkDataRepository 의존성 주입 문제 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/BenchmarkDataRepositoryAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

✨ 수정: 모든 Repository 어댑터 구현으로 백엔드 실행 문제 완전 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/OrderRepositoryAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 수정: .gitignore 개선으로 IntelliJ IDEA 파일 추적 문제 해결
  .gitignore
Due: none

🗑️ 정리: IntelliJ IDEA 설정 파일들을 Git 추적에서 제거
  .idea/compiler.xml
  .idea/modules.xml
  .idea/modules/backend/stock-quest.backend.main.iml
Due: none

🔧 수정: Redis Repository 설정 문제 완전 해결
  backend/CLAUDE.md
  backend/src/main/java/com/stockquest/StockQuestApplication.java
Due: stockquest-architecture-check, stockquest-test-coverage

✅ 완료: 백엔드 서버 실행 문제 완전 해결
  backend/CLAUDE.md
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengePortAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeRepositoryImpl.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/repository/ChallengeJpaRepository.java
Due: stockquest-architecture-check, stockquest-test-coverage

feat: Hibernate Second-level Cache 구현 및 EhCache 통합
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/ChallengeJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/LeaderboardJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/UserJpaEntity.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-performance.yml
  backend/src/main/resources/ehcache.xml
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 구성: Hibernate Second-level Cache 인프라 구축 완료
  CLAUDE.md
  backend/CLAUDE.md
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-performance.yml
  backend/src/main/resources/application.yml
Due: none

⚡ 성능: WebSocket 실시간 기능 강화 및 백엔드 로직 개선
  backend/CLAUDE.md
  backend/src/main/java/com/stockquest/adapter/in/websocket/PortfolioWebSocketController.java
  backend/src/main/java/com/stockquest/config/WebSocketConnectionManager.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-performance.yml
Due: stockquest-architecture-check, stockquest-test-coverage

💼 비즈니스: 포트폴리오 자동 리밸런싱 알고리즘 구현 완료
  backend/src/main/java/com/stockquest/application/service/PortfolioRebalancingApplicationService.java
  backend/src/main/java/com/stockquest/domain/portfolio/PortfolioRebalancingService.java
  backend/src/main/java/com/stockquest/domain/portfolio/RebalancingAction.java
  backend/src/main/java/com/stockquest/domain/portfolio/RebalancingResult.java
  backend/src/main/java/com/stockquest/domain/portfolio/RebalancingStrategy.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🎯 완성: 엔터프라이즈급 리스크 관리 시스템 구현 완료
  backend/src/main/java/com/stockquest/application/service/AdvancedRiskManagementService.java
  backend/src/main/java/com/stockquest/domain/risk/AdvancedRiskCalculator.java
  backend/src/main/java/com/stockquest/domain/risk/MonteCarloSimulation.java
  backend/src/main/java/com/stockquest/domain/risk/RealTimeRiskMonitor.java
  backend/src/main/java/com/stockquest/domain/risk/RiskScenario.java
  backend/src/main/java/com/stockquest/domain/risk/RiskScenarioFactory.java
  backend/src/main/java/com/stockquest/domain/risk/ScenarioSeverity.java
  backend/src/main/java/com/stockquest/domain/risk/ScenarioType.java
  backend/src/main/java/com/stockquest/domain/risk/StressTestEngine.java
  backend/src/main/java/com/stockquest/domain/risk/StressTestResult.java
  backend/src/main/java/com/stockquest/domain/risk/port/RiskScenarioRepository.java
  backend/src/main/java/com/stockquest/domain/risk/port/StressTestRepository.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🏗️ 아키텍처: 헥사고날 아키텍처 원칙 준수 완성
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeCategoryPortAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeCategoryRepositoryImpl.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeScheduleRepositoryImpl.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeTemplatePortAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/ChallengeTemplateRepositoryImpl.java
  backend/src/main/java/com/stockquest/application/simulation/DCASimulationApplicationService.java
  backend/src/main/java/com/stockquest/config/DomainConfiguration.java
  backend/src/main/java/com/stockquest/domain/challenge/port/ChallengeCategoryRepository.java
  backend/src/main/java/com/stockquest/domain/challenge/port/ChallengeScheduleRepository.java
  backend/src/main/java/com/stockquest/domain/challenge/port/ChallengeTemplateRepository.java
  backend/src/main/java/com/stockquest/domain/common/Page.java
  backend/src/main/java/com/stockquest/domain/common/PageRequest.java
  backend/src/main/java/com/stockquest/domain/common/Sort.java
  backend/src/main/java/com/stockquest/domain/company/port/CompanyCategoryRepository.java
  backend/src/main/java/com/stockquest/domain/company/port/CompanyRepository.java
  backend/src/main/java/com/stockquest/domain/company/repository/CompanyCategoryRepository.java
  backend/src/main/java/com/stockquest/domain/company/repository/CompanyRepository.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationService.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

📚 완료: OpenAPI 3.0 문서화 프론트엔드 통합 지원
  backend/API_GUIDE.md
  backend/CLAUDE.md
  backend/docs/openapi-complete.json
  backend/docs/openapi.json
Due: none

🔧 개선: API 오류 응답 및 서버 안정성 향상
  backend/src/main/java/com/stockquest/application/service/AdvancedRiskManagementService.java
  backend/src/main/java/com/stockquest/config/SecurityConfig.java
Due: stockquest-architecture-check, stockquest-test-coverage

🏗️ 완료: 헥사고날 아키텍처 개선 및 백엔드 서버 실행 문제 해결
  backend/src/main/java/com/stockquest/adapter/out/persistence/CompanyCategoryRepositoryAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/CompanyRepositoryAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/company/CompanyCategoryJpaRepository.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/company/CompanyCategoryMappingJpaRepository.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/company/CompanyJpaRepository.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/CompanyCategoryJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/CompanyCategoryMappingJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/CompanyJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/stub/PortfolioRepositoryStubAdapter.java
  backend/src/main/java/com/stockquest/application/company/CompanyApplicationService.java
  backend/src/main/java/com/stockquest/application/service/PortfolioRebalancingApplicationService.java
  backend/src/main/java/com/stockquest/domain/company/Company.java
  backend/src/main/java/com/stockquest/domain/company/CompanyCategory.java
  backend/src/main/java/com/stockquest/domain/company/CompanyCategoryMapping.java
  backend/src/test/java/com/stockquest/domain/challenge/ChallengeTest.java
  backend/src/test/java/com/stockquest/domain/order/OrderTest.java
  backend/src/test/java/com/stockquest/domain/portfolio/PortfolioPositionTest.java
  backend/src/test/java/com/stockquest/domain/session/ChallengeSessionTest.java
  backend/src/test/java/com/stockquest/integration/CoreDomainTestSuite.java
  backend/src/test/java/com/stockquest/testutils/TestDataFactory.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

✨ 구현: 주요 코드품질 개선 - Repository, 보안, 성능 최적화
  backend/src/main/java/com/stockquest/adapter/in/web/auth/AuthController.java
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/ChallengeController.java
  backend/src/main/java/com/stockquest/adapter/in/web/community/CommunityController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dashboard/DashboardWebAdapter.java
  backend/src/main/java/com/stockquest/adapter/in/web/session/SessionController.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/PortfolioRepositoryAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/projection/PortfolioPositionSummaryImpl.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/projection/PortfolioPositionSummaryProjection.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/repository/PortfolioPositionJpaRepository.java
  backend/src/main/java/com/stockquest/application/security/SecureUserContextService.java
Due: stockquest-architecture-check, stockquest-test-coverage

📚 docs: CLAUDE.md 문서 시스템 현대화 및 개인정보 제거
  CLAUDE.md
  README.md
  backend/CLAUDE.md
  frontend/CLAUDE.md
Due: none

🛠️ 완전한 커뮤니티 기능 구현 및 Frontend TypeError 해결
  backend/src/main/java/com/stockquest/adapter/in/web/community/CommunityController.java
  backend/src/main/java/com/stockquest/adapter/in/web/community/dto/CommentResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/community/dto/PostResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/community/dto/UpdateCommentRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/community/dto/UpdatePostRequest.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/UserRepositoryAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/repository/UserJpaRepository.java
  backend/src/main/java/com/stockquest/application/community/DeleteCommentService.java
  backend/src/main/java/com/stockquest/application/community/DeletePostService.java
  backend/src/main/java/com/stockquest/application/community/UpdateCommentService.java
  backend/src/main/java/com/stockquest/application/community/UpdatePostService.java
  backend/src/main/java/com/stockquest/application/community/port/in/DeleteCommentUseCase.java
  backend/src/main/java/com/stockquest/application/community/port/in/DeletePostUseCase.java
  backend/src/main/java/com/stockquest/application/community/port/in/UpdateCommentUseCase.java
  backend/src/main/java/com/stockquest/application/community/port/in/UpdatePostUseCase.java
  backend/src/main/java/com/stockquest/domain/user/port/UserRepository.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

⚡ 트레이딩 시뮬레이션 엔진 개선 및 설정 기반 아키텍처 구현
  backend/build.gradle
  backend/src/main/java/com/stockquest/application/order/PlaceOrderService.java
  backend/src/main/java/com/stockquest/application/order/validation/ChallengeDataValidationService.java
  backend/src/main/java/com/stockquest/config/TradingSimulationConfig.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/db/migration/V22__Enhanced_dummy_data.sql
  backend/src/main/resources/db/migration/V23__Complete_challenge_instrument_mappings.sql
Due: stockquest-architecture-check, stockquest-test-coverage

feat: 리더보드 자동 계산 기능 구현 (Phase 1)
  backend/src/main/java/com/stockquest/application/leaderboard/CalculateLeaderboardService.java
  backend/src/main/java/com/stockquest/application/session/CloseChallengeService.java
Due: stockquest-architecture-check, stockquest-test-coverage

feat: 이벤트 기반 리더보드 계산 아키텍처 구현
  backend/src/main/java/com/stockquest/application/event/LeaderboardEventHandler.java
  backend/src/main/java/com/stockquest/application/session/CloseChallengeService.java
  backend/src/main/java/com/stockquest/domain/event/ChallengeCompletedEvent.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

feat: 챌린지 목록 개선 및 사용자 경험 향상
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/ChallengeController.java
  backend/src/main/java/com/stockquest/application/challenge/GetChallengeListService.java
  backend/src/main/java/com/stockquest/application/challenge/dto/GetChallengeListQuery.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V24__Update_challenge_dates_to_2025.sql
Due: stockquest-architecture-check, stockquest-test-coverage

🐛 fix: 리더보드 런타임 오류 수정 및 챌린지 목록 비즈니스 로직 개선
  frontend/src/widgets/leaderboard/GlobalLeaderboard.tsx
Due: stockquest-test-coverage

⚡ feat: 데이터베이스 인코딩 고도화 - Critical Infrastructure Fixes
  backend/Dockerfile
  backend/src/main/resources/application-prod.yml
Due: none

🗄️ feat: Database UTF-8 configuration enhancement
  backend/src/main/resources/db/migration/TEMPLATE__Migration_Template.sql
  backend/src/main/resources/db/migration/V21__Create_blog_articles_tables.sql
Due: none
