Repository seongmin1117/stock-quest: changes, and which pre-commit hooks are due for each by the changed paths.
All: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

Path conditions:
  stockquest-architecture-check: any of: \.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-test-coverage: any of: \.(java|ts|tsx)$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-dependency-check: any of: backend/src/main/java/com/stockquest/domain/.*\.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$


🔧 refactor: Service layer integration improvements
  backend/src/main/java/com/stockquest/adapter/in/websocket/MarketDataWebSocketController.java
  backend/src/main/java/com/stockquest/application/service/MarketDataService.java
  backend/src/main/java/com/stockquest/application/service/VaRCalculationService.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔐 improve: Authentication and risk integration enhancements
  backend/src/main/java/com/stockquest/application/auth/LoginService.java
  backend/src/main/java/com/stockquest/application/service/ExecutionRiskIntegrationService.java
Due: stockquest-architecture-check, stockquest-test-coverage

💅 improve: Frontend type safety and component optimizations
  frontend/next.config.js
  frontend/src/app/community/page.tsx
  frontend/src/features/analysis/StockAnalysisDashboard.tsx
  frontend/src/shared/components/Layout/MobileDashboard.tsx
  frontend/src/shared/components/Search/MobileSearch.tsx
  frontend/src/shared/services/websocket/WebSocketService.ts
  frontend/src/widgets/dashboard/UserStatsCard.tsx
  frontend/src/widgets/leaderboard/GlobalLeaderboard.tsx
Due: stockquest-test-coverage

🧪 feat: Add comprehensive test environment configuration
  backend/src/main/resources/application-test.yml
Due: none

🔒 security: Fix critical security vulnerabilities and hardcoded secrets
  .env.example
  backend/src/main/resources/application.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

📊 improve: Replace console output with proper logging in performance monitoring
  backend/src/main/java/com/stockquest/config/PerformanceMonitoringConfig.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 Backend: Configuration and API Improvements
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/dto/ChallengeDetailResponse.java
  backend/src/main/java/com/stockquest/application/challenge/GetChallengeDetailService.java
  backend/src/main/java/com/stockquest/application/market/MarketDataService.java
  backend/src/main/java/com/stockquest/config/JacksonConfig.java
  backend/src/main/java/com/stockquest/config/cache/AdvancedCacheConfig.java
Due: stockquest-architecture-check, stockquest-test-coverage

✨ Feature: ML Trading Signals Panel
  frontend/src/widgets/ml-signals/MLSignalsPanel.tsx
Due: stockquest-test-coverage

🛡️ Feature: Risk Management Dashboard
  frontend/src/widgets/risk-management/RiskDashboard.tsx
  frontend/src/widgets/risk-management/index.ts
Due: stockquest-test-coverage

🔬 Feature: Portfolio Optimization Panel
  frontend/src/widgets/portfolio-optimization/PortfolioOptimizationPanel.tsx
Due: stockquest-test-coverage

🔄 Enhancement: Core Component Improvements
  frontend/src/app/auth/login/page.tsx
  frontend/src/features/place-order/TradingPanel.tsx
  frontend/src/shared/components/Trading/MobileTradingPanel.tsx
  frontend/src/shared/lib/auth/AuthGuard.tsx
  frontend/src/widgets/market-data/MarketDataPanel.tsx
  frontend/src/widgets/portfolio/PortfolioPanel.tsx
Due: stockquest-test-coverage

🧹 Add .gitignore and organize test structure
  frontend/.gitignore
  frontend/tests/e2e/challenge-workflow.spec.ts
  frontend/tests/e2e/complete-challenge-flow.spec.ts
  frontend/tests/e2e/trading-functionality.spec.ts
Due: stockquest-test-coverage

🚀 Feature: Admin Panel Foundation (Phase 1.2)
  frontend/debug-admin-dashboard.png
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/features/admin-panel/components/AdminAuthGuard.tsx
  frontend/tests/e2e/admin-auth-simple.spec.ts
  frontend/tests/e2e/admin-authentication.spec.ts
Due: stockquest-test-coverage

✨ Feature: Admin Challenge List Management
  frontend/src/app/admin/challenges/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/tests/e2e/admin-challenges.spec.ts
Due: stockquest-test-coverage

🚀 Feature: Complete Admin Challenge Management System
  frontend/src/app/admin/challenges/[id]/edit/page.tsx
  frontend/src/app/admin/challenges/[id]/page.tsx
  frontend/src/app/admin/challenges/new/page.tsx
Due: stockquest-test-coverage

✨ Feature: Complete Template Management System
  frontend/src/app/admin/templates/[id]/edit/page.tsx
  frontend/src/app/admin/templates/[id]/page.tsx
  frontend/src/app/admin/templates/new/page.tsx
  frontend/src/app/admin/templates/page.tsx
  frontend/tests/e2e/template-management.spec.ts
Due: stockquest-test-coverage

👥 Feature: Complete User Management System
  frontend/src/app/admin/users/[id]/edit/page.tsx
  frontend/src/app/admin/users/[id]/page.tsx
  frontend/src/app/admin/users/new/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/tests/e2e/user-management.spec.ts
Due: stockquest-test-coverage

✨ Feature: Phase 4 Analytics Dashboard Implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/analytics/challenge-performance/page.tsx
  frontend/src/app/admin/analytics/page.tsx
  frontend/src/app/admin/analytics/returns/page.tsx
  frontend/src/app/admin/analytics/system/page.tsx
  frontend/src/app/admin/analytics/user-behavior/page.tsx
  frontend/src/components/admin/ExportDialog.tsx
  frontend/src/lib/exportUtils.ts
  frontend/tests/e2e/analytics-dashboard.spec.ts
Due: stockquest-test-coverage

🚀 Feature: Phase 5 Advanced Features and Optimization Suite
  frontend/src/app/admin/ml-trading/page.tsx
  frontend/src/app/admin/portfolio-optimization/page.tsx
  frontend/src/app/admin/recommendations/page.tsx
  frontend/src/app/admin/risk-management/page.tsx
  frontend/tests/e2e/advanced-features.spec.ts
Due: stockquest-test-coverage

✅ Phase 5 Verification Complete: Advanced Features Implementation
  frontend/src/app/admin/layout.tsx
  frontend/src/shared/api/generated/model/index.ts
Due: stockquest-test-coverage

🔧 Enhancement: API Extensions and Real Server Integration for Advanced Features
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/ChallengeController.java
  backend/src/main/java/com/stockquest/adapter/in/web/challenge/dto/ChallengeInstrumentsResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/session/SessionController.java
  backend/src/main/java/com/stockquest/adapter/in/web/session/dto/OrdersResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/session/dto/PortfolioResponse.java
  backend/src/main/java/com/stockquest/application/challenge/GetChallengeInstrumentsService.java
  backend/src/main/java/com/stockquest/application/challenge/GetChallengesService.java
  backend/src/main/java/com/stockquest/application/challenge/dto/GetChallengeInstrumentsQuery.java
  backend/src/main/java/com/stockquest/application/challenge/dto/GetChallengeInstrumentsResult.java
  backend/src/main/java/com/stockquest/application/challenge/port/in/GetChallengeInstrumentsUseCase.java
  backend/src/main/java/com/stockquest/application/session/GetOrdersService.java
  backend/src/main/java/com/stockquest/application/session/GetPortfolioService.java
  backend/src/main/java/com/stockquest/application/session/dto/GetOrdersQuery.java
  backend/src/main/java/com/stockquest/application/session/dto/GetOrdersResult.java
  backend/src/main/java/com/stockquest/application/session/dto/GetPortfolioQuery.java
  backend/src/main/java/com/stockquest/application/session/dto/GetPortfolioResult.java
  backend/src/main/java/com/stockquest/application/session/port/in/GetOrdersUseCase.java
  backend/src/main/java/com/stockquest/application/session/port/in/GetPortfolioUseCase.java
  backend/src/main/java/com/stockquest/domain/challenge/port/ChallengeInstrumentRepository.java
  frontend/src/app/admin/portfolio-optimization/page.tsx
  frontend/tests/e2e/advanced-features.spec.ts
  frontend/tests/e2e/debug-portfolio.spec.ts
  frontend/tests/e2e/multi-user-trading-test.ts
  frontend/tests/integration/multi-user-trading-test-clean.ts
  frontend/tests/integration/multi-user-trading-test.ts
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

✨ Feature: DCA Investment Simulation Domain Layer
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationParameters.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationParametersValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationResult.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationResultValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/InvestmentFrequency.java
  backend/src/main/java/com/stockquest/domain/simulation/InvestmentFrequencyValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/MonthlyInvestmentRecord.java
  backend/src/main/java/com/stockquest/domain/simulation/MonthlyInvestmentRecordValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/PriceData.java
  backend/src/test/java/com/stockquest/domain/simulation/DCASimulationParametersTest.java
  backend/src/test/java/com/stockquest/domain/simulation/DCASimulationResultTest.java
  backend/src/test/java/com/stockquest/domain/simulation/DCASimulationServiceTest.java
  backend/src/test/java/com/stockquest/domain/simulation/InvestmentFrequencyTest.java
  backend/src/test/java/com/stockquest/domain/simulation/MonthlyInvestmentRecordTest.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

✨ Feature: DCA Simulation Application Service Implementation
  backend/src/main/java/com/stockquest/application/dca/DCAApplicationServiceValidator.java
  backend/src/main/java/com/stockquest/application/dca/DCASimulationService.java
  backend/src/main/java/com/stockquest/application/dca/dto/DCASimulationCommand.java
  backend/src/main/java/com/stockquest/application/dca/dto/DCASimulationResponse.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationService.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationServiceValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/port/BenchmarkDataRepository.java
  backend/src/main/java/com/stockquest/domain/simulation/port/PriceDataRepository.java
  backend/src/test/java/com/stockquest/application/dca/DCASimulationServiceTest.java
  backend/src/test/java/com/stockquest/domain/simulation/DCASimulationServiceTest.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

✅ Feature: DCA Simulation Web Adapter Implementation
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCASimulationRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAWebAdapterLogicValidator.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAWebAdapterValidator.java
  backend/src/test/java/com/stockquest/adapter/in/web/dca/DCAControllerTest.java
Due: stockquest-architecture-check, stockquest-test-coverage

✨ Feature: DCA Simulation Frontend API Client
  frontend/src/shared/api/dca-client.ts
  frontend/src/shared/api/types/dca-types.ts
Due: stockquest-test-coverage

✅ Feature: DCA Simulation Comprehensive E2E Tests
  frontend/tests/e2e/dca-simulation.spec.ts
Due: stockquest-test-coverage

🐛 Fix: Korean Company Data Encoding & DCA Integration
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/in/web/company/CompanyController.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CategoryDto.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanyDetailDto.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanyDto.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanySearchResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/PopularCompanyDto.java
  backend/src/main/java/com/stockquest/application/company/CompanyService.java
  backend/src/main/java/com/stockquest/application/dca/DCASimulationService.java
  backend/src/main/java/com/stockquest/config/SecurityConfig.java
  backend/src/main/java/com/stockquest/domain/company/Company.java
  backend/src/main/java/com/stockquest/domain/company/CompanyCategory.java
  backend/src/main/java/com/stockquest/domain/company/CompanyCategoryMapping.java
  backend/src/main/java/com/stockquest/domain/company/repository/CompanyCategoryRepository.java
  backend/src/main/java/com/stockquest/domain/company/repository/CompanyRepository.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationService.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V16__Add_Performance_Optimization_Indexes.sql
  backend/src/main/resources/db/migration/V18__Create_company_table.sql
  frontend/src/app/admin/layout.tsx
  frontend/src/app/dca-simulation/page.tsx
  frontend/src/shared/api/company-client.ts
  frontend/src/shared/components/CompanyAutocomplete/CompanyAutocomplete.tsx
  frontend/src/shared/components/DatePresets/DatePresets.tsx
  frontend/src/shared/components/InvestmentAmountPresets/InvestmentAmountPresets.tsx
  frontend/src/shared/components/Navigation/Navbar.tsx
  frontend/tests/e2e/dca-simulation-simple.spec.ts
  frontend/tests/e2e/dca-simulation.spec.ts
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🏗️ Feature: Complete DCA Company-Category Hexagonal Architecture Implementation
  backend/src/main/java/com/stockquest/adapter/in/web/common/GlobalExceptionHandler.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/CompanyController.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/CompanyWebAdapter.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanyCategoryResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanyDto.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanyResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanySearchRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/CompanySearchResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/company/dto/PopularCompanyDto.java
  backend/src/main/java/com/stockquest/adapter/in/web/dca/DCAController.java
  backend/src/main/java/com/stockquest/application/company/CompanyApplicationService.java
  backend/src/main/java/com/stockquest/application/company/CompanyService.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanyCategoryDto.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanyDto.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySearchQuery.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySearchResult.java
  backend/src/main/java/com/stockquest/config/SecurityConfig.java
  backend/src/main/java/com/stockquest/domain/company/port/CompanyCategoryRepositoryPort.java
  backend/src/main/java/com/stockquest/domain/company/port/CompanyRepositoryPort.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationParameters.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationParametersValidator.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationResult.java
  backend/src/main/java/com/stockquest/domain/simulation/DCASimulationResultValidator.java
  backend/src/main/resources/db/migration/V19__Insert_test_price_data.sql
  backend/src/test/java/com/stockquest/adapter/in/web/dca/DCAApiIntegrationTest.java
  backend/src/test/java/com/stockquest/application/company/CompanyApplicationServiceTest.java
  backend/src/test/java/com/stockquest/domain/company/CompanyRepositoryPortTest.java
  backend/src/test/java/com/stockquest/domain/simulation/DCASimulationServiceIntegrationTest.java
  frontend/src/shared/api/company-client.ts
  frontend/src/shared/components/CompanyAutocomplete/CompanyAutocomplete.tsx
  frontend/src/shared/lib/auth/AuthGuard.tsx
  frontend/tests/e2e/dca-company-categories.spec.ts
  frontend/tests/e2e/dca-simulation-direct.spec.ts
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🚀 Feature: Advanced DCA Simulation Enhancements & Professional Analytics
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dca-simulation/page.tsx
  frontend/src/shared/components/InvestmentStrategyTemplates/InvestmentStrategyTemplates.tsx
  frontend/src/shared/utils/pdf-report-generator.ts
  frontend/tests/e2e/dca-simulation-enhanced-features.spec.ts
Due: stockquest-test-coverage

✨ 기능: 회사 동기화 시스템 & 카테고리 통합 완료
  CLAUDE.md
  backend/src/main/java/com/stockquest/adapter/in/web/company/CompanySyncWebAdapter.java
  backend/src/main/java/com/stockquest/application/company/CompanySyncService.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySyncBatchLog.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySyncBatchResult.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySyncLog.java
  backend/src/main/java/com/stockquest/application/company/dto/CompanySyncResult.java
  backend/src/main/java/com/stockquest/config/SchedulingConfig.java
  backend/src/main/java/com/stockquest/domain/company/Company.java
  backend/src/main/java/com/stockquest/domain/company/port/CompanyRepositoryPort.java
  backend/src/main/java/com/stockquest/domain/market/PriceCandle.java
  backend/src/main/resources/db/migration/V20__Create_company_sync_log_tables.sql
  backend/src/test/java/com/stockquest/application/company/CompanySyncServiceTest.java
  frontend/src/shared/api/company-client.ts
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🔧 Refactor: CompanyAutocomplete 컴포넌트 개선 및 CLAUDE.md 정리
  CLAUDE.md
  backend/src/main/resources/application.yml
  docker-compose.yml
  frontend/src/shared/api/company-client.ts
  frontend/src/shared/components/CompanyAutocomplete/CompanyAutocomplete.tsx
Due: stockquest-test-coverage

🐛 Fix: Frontend API 클라이언트 데이터 추출 오류 해결
  CLAUDE.md
  frontend/src/app/debug-company/page.tsx
  frontend/src/app/test-company/page.tsx
  frontend/src/shared/api/api-client.ts
  frontend/src/shared/api/company-client.ts
  frontend/src/shared/components/CompanyAutocomplete/CompanyAutocomplete.tsx
Due: stockquest-test-coverage

✨ 기능: 블로그 관리자 REST API 구조 완성
  backend/src/main/java/com/stockquest/adapter/in/web/admin/AdminContentWebAdapter.java
Due: stockquest-architecture-check, stockquest-test-coverage

✨ 완성: 블로그 관리 시스템 백엔드 완전 구현
  backend/src/main/java/com/stockquest/application/content/ContentApplicationService.java
  backend/src/main/java/com/stockquest/application/content/dto/CreateCategoryCommand.java
  backend/src/main/java/com/stockquest/application/content/dto/CreateTagCommand.java
  backend/src/main/java/com/stockquest/application/content/dto/UpdateCategoryCommand.java
  backend/src/main/java/com/stockquest/application/content/dto/UpdateTagCommand.java
Due: stockquest-architecture-check, stockquest-test-coverage
