Repository seongmin1117/stock-quest: changes, and which pre-commit hooks are due for each by the changed paths.
All: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

Path conditions:
  stockquest-architecture-check: any of: \.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-test-coverage: any of: \.(java|ts|tsx)$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$

  stockquest-dependency-check: any of: backend/src/main/java/com/stockquest/domain/.*\.java$, but not: (?x)^(
  \.git/.*|
  \.gradle/.*|
  \.idea/.*|
  \.vscode/.*|
  node_modules/.*|
  build/.*|
  dist/.*|
  coverage/.*|
  \.next/.*|
  target/.*|
  .*\.generated\..*|
  migrations/.*
)$


feat(docker): add development environment setup
  docker-compose.yml
Due: none

docs: add comprehensive documentation and setup scripts
  docs/api-examples.md
  docs/architecture.md
  docs/openapi.yml
  setup-git.sh
  setup.sh
Due: none

chore: add remaining IDE and configuration files
  .idea/.gitignore
  .idea/AndroidProjectSystem.xml
  .idea/compiler.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/modules/backend/stock-quest.backend.main.iml
  .idea/vcs.xml
Due: none

feat(templates): commit message에서 영어+한국어 혼용 적극 장려
  .claude/COMMIT_GUIDELINES.md
  .gitmessage
  scripts/check-commit-msg.sh
Due: none

perf(database): portfolio query performance 대폭 개선
  .idea/vcs.xml
  backend/src/main/java/com/stockquest/config/DatabasePerformanceConfig.java
  backend/src/main/java/com/stockquest/config/PortfolioCacheConfig.java
  backend/src/main/java/com/stockquest/domain/portfolio/port/PortfolioRepository.java
  backend/src/main/resources/db/migration/V16__Add_Performance_Optimization_Indexes.sql
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

feat(frontend): mobile responsive design 구현 완료
  frontend/src/app/globals.css
  frontend/src/shared/components/Charts/MobileChart.tsx
  frontend/src/shared/components/Layout/MobileDashboard.tsx
  frontend/src/shared/components/Navigation/MobileDrawer.tsx
  frontend/src/shared/components/Portfolio/MobilePortfolio.tsx
  frontend/src/shared/components/Search/MobileSearch.tsx
  frontend/src/shared/components/Trading/MobileTradingPanel.tsx
Due: stockquest-test-coverage

feat(frontend): real-time WebSocket integration 완전 구현
  frontend/src/shared/components/RealTime/RealTimeExample.tsx
  frontend/src/shared/components/RealTime/RealTimeMarketData.tsx
  frontend/src/shared/components/RealTime/RealTimeNotifications.tsx
  frontend/src/shared/components/RealTime/RealTimePortfolio.tsx
  frontend/src/shared/hooks/useWebSocket.ts
  frontend/src/shared/services/websocket/WebSocketService.ts
Due: stockquest-test-coverage

feat(frontend): mobile responsive design 구현 완료 (#24)
  frontend/src/app/globals.css
  frontend/src/shared/components/Charts/MobileChart.tsx
  frontend/src/shared/components/Layout/MobileDashboard.tsx
  frontend/src/shared/components/Navigation/MobileDrawer.tsx
  frontend/src/shared/components/Portfolio/MobilePortfolio.tsx
  frontend/src/shared/components/Search/MobileSearch.tsx
  frontend/src/shared/components/Trading/MobileTradingPanel.tsx
Due: stockquest-test-coverage

feat(frontend): real-time WebSocket integration 완전 구현 (#25)
  frontend/src/shared/components/RealTime/RealTimeExample.tsx
  frontend/src/shared/components/RealTime/RealTimeMarketData.tsx
  frontend/src/shared/components/RealTime/RealTimeNotifications.tsx
  frontend/src/shared/components/RealTime/RealTimePortfolio.tsx
  frontend/src/shared/hooks/useWebSocket.ts
  frontend/src/shared/services/websocket/WebSocketService.ts
Due: stockquest-test-coverage

🔧 Address CodeRabbit feedback: Enhanced docstrings and performance monitoring
  .claude/AUTOMATION.md
  .idea/vcs.xml
  backend/src/main/java/com/stockquest/config/DatabasePerformanceConfig.java
  backend/src/main/java/com/stockquest/config/PerformanceMonitoringConfig.java
  backend/src/main/java/com/stockquest/config/PortfolioCacheConfig.java
  backend/src/test/java/com/stockquest/performance/DatabasePerformanceBenchmarkTest.java
  frontend/src/shared/services/analytics/PortfolioAnalyticsService.ts
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 Fix CI failures: Update deprecated GitHub Actions
  .github/workflows/backend.yml
  .github/workflows/code-quality.yml
  .github/workflows/frontend.yml
Due: none

🔧 Fix CI configuration issues: Gradle JaCoCo & npm scripts
  .github/workflows/code-quality.yml
  .github/workflows/frontend.yml
  backend/build.gradle
Due: none

🔧 Add ESLint configuration for frontend CI
  frontend/.eslintrc.json
Due: none

🔍 CI Investigation: Test phantom MobileSearch.tsx resolution
  .claude/AUTOMATION_LOG.md
Due: none

🚀 Complete Portfolio Analytics System Implementation
  backend/src/main/java/com/stockquest/adapter/in/web/PortfolioAnalyticsController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioAnalyticsResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioRecommendationResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/SectorAllocationResponse.java
  backend/src/main/java/com/stockquest/application/analytics/PortfolioAnalyticsService.java
  frontend/src/features/portfolio/PortfolioAnalyticsDashboard.tsx
Due: stockquest-architecture-check, stockquest-test-coverage

🧠 Advanced AI Trading Strategy Engine Implementation
  backend/src/main/java/com/stockquest/application/strategy/TradingStrategyEngine.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔥 [Performance]: Database query optimization for portfolio calculations (#23)
  .claude/AUTOMATION.md
  .claude/AUTOMATION_LOG.md
  .github/workflows/code-quality.yml
  .github/workflows/frontend.yml
  .idea/vcs.xml
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/in/web/PortfolioAnalyticsController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioAnalyticsResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioRecommendationResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/SectorAllocationResponse.java
  backend/src/main/java/com/stockquest/application/analytics/PortfolioAnalyticsService.java
  backend/src/main/java/com/stockquest/application/strategy/TradingStrategyEngine.java
  backend/src/main/java/com/stockquest/config/DatabasePerformanceConfig.java
  backend/src/main/java/com/stockquest/config/PerformanceMonitoringConfig.java
  backend/src/main/java/com/stockquest/config/PortfolioCacheConfig.java
  backend/src/main/java/com/stockquest/domain/portfolio/port/PortfolioRepository.java
  backend/src/main/resources/db/migration/V16__Add_Performance_Optimization_Indexes.sql
  backend/src/test/java/com/stockquest/performance/DatabasePerformanceBenchmarkTest.java
  frontend/.eslintrc.json
  frontend/src/features/portfolio/PortfolioAnalyticsDashboard.tsx
  frontend/src/shared/services/analytics/PortfolioAnalyticsService.ts
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🚀 Real-time Market Data Service Implementation
  backend/src/main/java/com/stockquest/application/marketdata/RealTimeMarketDataService.java
Due: stockquest-architecture-check, stockquest-test-coverage

🧠 Comprehensive AI-Powered Stock Analysis System
  backend/src/main/java/com/stockquest/adapter/in/web/StockAnalysisController.java
  backend/src/main/java/com/stockquest/application/analysis/ComprehensiveStockAnalysisService.java
  frontend/src/features/analysis/StockAnalysisDashboard.tsx
Due: stockquest-architecture-check, stockquest-test-coverage

📚 Document successful autonomous development cycle
  .claude/AUTOMATION.md
Due: none

🔌 WebSocket Infrastructure Foundation Implementation
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/in/web/StockAnalysisController.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/MarketDataWebSocketHandler.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/TradingWebSocketHandler.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/MarketDataSubscription.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/TradingCommand.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/WebSocketMessage.java
  backend/src/main/java/com/stockquest/application/analysis/ComprehensiveStockAnalysisService.java
  backend/src/main/java/com/stockquest/application/marketdata/RealTimeMarketDataService.java
  backend/src/main/java/com/stockquest/config/WebSocketConfig.java
  backend/src/main/java/com/stockquest/config/WebSocketSecurityConfig.java
  backend/src/main/java/com/stockquest/domain/marketdata/MarketAnomaly.java
  backend/src/main/java/com/stockquest/domain/marketdata/MarketDepth.java
  backend/src/main/java/com/stockquest/domain/marketdata/MarketStatistics.java
  backend/src/main/java/com/stockquest/domain/marketdata/PriceData.java
  backend/src/main/java/com/stockquest/domain/marketdata/RealTimeQuote.java
  backend/src/main/java/com/stockquest/domain/marketdata/SubscriptionStatus.java
  backend/src/main/java/com/stockquest/domain/marketdata/TechnicalIndicators.java
  backend/src/main/java/com/stockquest/domain/marketdata/Trade.java
  backend/src/main/java/com/stockquest/domain/marketdata/VolumeAnalysis.java
  backend/src/main/java/com/stockquest/security/JwtTokenProvider.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

📚 Document WebSocket Infrastructure Development Milestone
  .claude/AUTOMATION.md
Due: none

Complete comprehensive DTO ecosystem and portfolio analytics integration
  backend/src/main/java/com/stockquest/adapter/in/web/StockAnalysisController.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/BenchmarkComparisonResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/CorrelationResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PerformanceHistoryResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioRiskAnalysisResponse.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/MarketDataSubscription.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/TradingCommand.java
  backend/src/main/java/com/stockquest/application/analysis/ComprehensiveStockAnalysisService.java
  backend/src/main/java/com/stockquest/application/analytics/PortfolioAnalyticsService.java
  backend/src/main/java/com/stockquest/application/analytics/RiskCalculationService.java
  backend/src/main/java/com/stockquest/domain/portfolio/AllocationAnalysis.java
  backend/src/main/java/com/stockquest/domain/portfolio/PerformanceMetrics.java
  backend/src/main/java/com/stockquest/domain/portfolio/PortfolioMetrics.java
  backend/src/main/java/com/stockquest/domain/portfolio/RiskMetrics.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🔧 Spring Boot Core Optimization
  backend/build.gradle
  backend/src/main/resources/application.yml
Due: none

🏗️ Domain Model and DTO Ecosystem Enhancement
  backend/src/main/java/com/stockquest/adapter/in/web/dto/AssetAllocationResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/BackTestResults.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/BenchmarkData.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/BollingerBandsResult.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/DynamicRiskManagementResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/ExpectedPerformance.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/FactorAnalysisResult.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/MACDResult.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/MarketEnvironment.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/MeanReversionSignal.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/MomentumSignal.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/OptimalStrategyMix.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PairTradingOpportunity.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioAnalysis.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/PortfolioRiskMetrics.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/QuantitativeStrategyResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/RiskContributionResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/RiskLimitViolation.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/RiskLimits.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/RiskManagementAction.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/RiskParityPortfolio.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/StatisticalArbitrageOpportunity.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/StrategyAnalysisResult.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/StressTestResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/TechnicalStrategyResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/TradingSignal.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/TradingStrategyResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/dto/VolumeProfile.java
  backend/src/main/java/com/stockquest/application/analysis/StockAnalysisResult.java
  backend/src/main/java/com/stockquest/application/service/FundamentalAnalysisService.java
  backend/src/main/java/com/stockquest/application/service/RiskManagementService.java
  backend/src/main/java/com/stockquest/application/service/TechnicalAnalysisService.java
  backend/src/main/java/com/stockquest/config/PerformanceMonitoringConfig.java
  backend/src/main/java/com/stockquest/domain/challenge/ChallengeSchedule.java
  backend/src/main/java/com/stockquest/domain/marketdata/MarketData.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🚀 Complete Spring Boot Stabilization & Full Automation System
  .claude/AUTOMATION.md
  .idea/vcs.xml
  backend/src/main/java/com/stockquest/adapter/in/web/PortfolioAnalyticsController.java
  backend/src/main/java/com/stockquest/adapter/in/web/StockAnalysisController.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/MarketDataWebSocketHandler.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/TradingWebSocketHandler.java
  backend/src/main/java/com/stockquest/application/analysis/ComprehensiveStockAnalysisService.java
  backend/src/main/java/com/stockquest/application/analytics/PortfolioAnalyticsService.java
  backend/src/main/java/com/stockquest/application/analytics/RiskCalculationService.java
  backend/src/main/java/com/stockquest/application/challenge/StartChallengeService.java.bak
  backend/src/main/java/com/stockquest/application/marketdata/RealTimeMarketDataService.java
  backend/src/main/java/com/stockquest/application/strategy/TradingStrategyEngine.java
  backend/src/main/java/com/stockquest/config/DatabasePerformanceConfig.java
  backend/src/main/java/com/stockquest/config/WebSocketConfig.java
  backend/src/main/java/com/stockquest/config/WebSocketSecurityConfig.java
  backend/src/main/java/com/stockquest/security/JwtTokenProvider.java
Due: stockquest-architecture-check, stockquest-test-coverage

🚀 Phase 7: Advanced AI-Powered Analytics & Real-time Monitoring System Complete
  .automation/monitoring.sh
  .claude/AUTOMATION.md
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/in/websocket/RiskMonitoringWebSocketController.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/dto/RiskDashboardMessage.java
  backend/src/main/java/com/stockquest/application/service/RealTimeRiskAssessmentService.java
  backend/src/main/java/com/stockquest/config/AsyncConfiguration.java
  backend/src/main/java/com/stockquest/config/WebSocketConfiguration.java
  backend/src/main/java/com/stockquest/domain/analytics/risk/MonteCarloSimulation.java
  backend/src/main/java/com/stockquest/domain/analytics/risk/RiskEngine.java
  backend/src/main/java/com/stockquest/domain/analytics/risk/RiskScenario.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

docs: Add Claude AI development guidance and automation workflow
  .claude/AUTOMATION_WORKFLOW.md
  CLAUDE.md
Due: none

docs: Update automation workflow documentation with first cycle results
  .claude/AUTOMATION_WORKFLOW.md
  .claude/NEXT_CYCLE_PLAN.md
Due: none

fix: Resolve critical compilation errors and architecture violations
  backend/src/main/java/com/stockquest/application/service/RealTimePositionManagementService.java
  backend/src/main/java/com/stockquest/application/service/TradeExecutionService.java
  backend/src/main/java/com/stockquest/domain/execution/Position.java
  backend/src/main/java/com/stockquest/domain/portfolio/Position.java
Due: stockquest-architecture-check, stockquest-test-coverage, stockquest-dependency-check

🚀 feat: Complete Phase 2.2 - WebSocket Real-time System Implementation
  .claude/WEBSOCKET_SYSTEM_DOCS.md
  backend/src/main/java/com/stockquest/adapter/in/websocket/MarketDataWebSocketController.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/OrderExecutionWebSocketController.java
  backend/src/main/java/com/stockquest/adapter/in/websocket/PortfolioWebSocketController.java
  backend/src/main/java/com/stockquest/config/WebSocketConfiguration.java
  backend/src/main/java/com/stockquest/config/WebSocketConnectionManager.java
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 Phase 4.2: Complete Authentication System & Technical Analysis Implementation
  backend/src/main/java/com/stockquest/adapter/in/web/auth/AuthController.java
  backend/src/main/java/com/stockquest/adapter/in/web/auth/dto/LoginRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/auth/dto/LogoutRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/auth/dto/RefreshTokenRequest.java
  backend/src/main/java/com/stockquest/adapter/in/web/common/ErrorResponse.java
  backend/src/main/java/com/stockquest/adapter/in/web/common/dto/AuthResponse.java
  backend/src/main/java/com/stockquest/application/auth/LoginService.java
  backend/src/main/java/com/stockquest/application/auth/LogoutService.java
  backend/src/main/java/com/stockquest/application/auth/RefreshTokenService.java
  backend/src/main/java/com/stockquest/application/auth/port/in/LogoutUseCase.java
  backend/src/main/java/com/stockquest/application/auth/port/in/RefreshTokenUseCase.java
  backend/src/main/java/com/stockquest/application/service/TechnicalAnalysisService.java
Due: stockquest-architecture-check, stockquest-test-coverage

🚀 Phase 4.2 Complete: Comprehensive TODO/FIXME Implementation & Service Integration
  backend/src/main/java/com/stockquest/application/service/RealTimePositionManagementService.java
  backend/src/main/java/com/stockquest/application/service/TradeExecutionService.java
Due: stockquest-architecture-check, stockquest-test-coverage

🏗️ Phase 4.4: Complete System Integration Infrastructure
  backend/build.gradle
  backend/src/main/java/com/stockquest/adapter/out/persistence/RefreshTokenRepositoryAdapter.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/entity/RefreshTokenJpaEntity.java
  backend/src/main/java/com/stockquest/adapter/out/persistence/repository/RefreshTokenJpaRepository.java
  backend/src/main/java/com/stockquest/application/service/StockMarketDataService.java
  backend/src/main/java/com/stockquest/config/MailConfiguration.java
  backend/src/main/java/com/stockquest/config/RestTemplateConfig.java
  backend/src/main/resources/application-dev.yml
Due: stockquest-architecture-check, stockquest-test-coverage

🔧 config: Enable CGLIB proxies to fix Spring AOP proxy issues
  backend/src/main/java/com/stockquest/StockQuestApplication.java
  backend/src/main/java/com/stockquest/config/async/AsyncConfig.java
Due: stockquest-architecture-check, stockquest-test-coverage

♻️ refactor: Separate scheduler logic from WebSocket controller
  backend/src/main/java/com/stockquest/adapter/in/websocket/RiskMonitoringWebSocketController.java
  backend/src/main/java/com/stockquest/application/service/RiskMonitoringSchedulerService.java
Due: stockquest-architecture-check, stockquest-test-coverage
